#warning {
	font-size: 16px;
	background-color: pink;
	border: 1px solid gray;
	width: 100px;
	text-align: center;
	margin-left: 50%;
	margin-top: 20px;
	border-radius: 8px;
	padding: 5px;
	visibility:hidden;
}

body {
	background-color: lightyellow;
	font-family: Poiret One;
	text-align: center;
	margin-top: 50px;
}

#submit{
	background-color: lightblue;
	font-family: Poiret One;
	border-radius: 4px;
}

#noPW{
	font-size: 16px;
	background-color: pink;
	border: 1px solid gray;
	width: 200px;
	top: 40px;
	left: 28%;
	border-radius: 8px;
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

#shortPW{
	font-size: 16px;
	background-color: pink;
	border: 1px solid gray;
	width: 200px;
	top: 40px;
	left: 28%;
	border-radius: 8px;
	padding: 5px;
	position: absolute;
	visibility: hidden;
}

#successPW{
	font-size: 16px;
	background-color: lightgreen;
	border: 1px solid gray;
	width: 200px;
	top: 80px;
	left: 40%;
	border-radius: 8px;
	padding: 5px;
	position: absolute;
	display:none;
}