h1{
	font-size: 42px;
	font-style: bold;
	font-family: Poiret One;
}

body{
	text-align: center;
}

ul{
	font-family: Poiret One;
	font-size: 28px;
	background-color: #CFCFBE;
	list-style-type: none;
	width: 40%;
	margin-left: 35%;
	margin-top: 10%;
	padding:6px 20px;
	border: 1px solid gray;
}

input{
	font-family: Poiret One;
	font-size: 20px;
	width: 30%;
}

.complete {
  text-decoration:line-through;
  color:#BEBECF;
}

li {
	background-color: #CFCFBE;
	text-align: left;
	font-size: 20px;
	padding: 10px;
}

#add{
  margin-left:10px;
  background:#BEBECF;
  font-size:20px;
  font-family: Poiret One;
  padding:6px 20px;
  box-shadow:0 2px 0 0 #662929;
  border-radius:4px;
}

#checkbox {
	float: left;

}

.dButton{
	  background:#BEBECF;
	  font-family: Poiret One;
  	box-shadow:0 2px 0 0 #662929;
  	border-radius:4px;
  	float: right;
}

.done{
	display: none;
}